<ion-view view-title="Home">
    <ion-nav-bar class="bar-balanced">
    </ion-nav-bar>
  <ion-content>
    <img src="img/logo.jpg" width="50%" style="margin-left: 26%; margin-right: 26%; margin-top: 10%; margin-bottom: 0px; display: block;">
    <h3 style="color: #ff9976; text-align: center;">Mangan</h3>
    <p style="text-align: center; font-style: italic;">Your tummy partner</p>
        <label class="item">
          <button class="button button-block button-balanced" ng-click="showLogin()">Log in</button>
          <!-- <a class="button button-block button-balanced" href="">Log in</a> -->
        </label>
        <label class="item">
          <p style="margin-top: 3%;text-align: center;">Belum punya Akun?</p>
          <button class="button button-block button-balanced" ng-click="register()">Daftar</button>
          <!-- <p style="margin-top: 3%;text-align: center;">Belum punya Akun ? <a href="#/register" style="color: #ff9976">Daftar</a></p> -->
        </label>
  </ion-content>
</ion-view>
