<ion-view view-title="Mangan">
  <ion-content>  
    <div class="list list-inset">    
<!--   		<label class="item item-input">
  			<i class="icon ion-search placeholder-icon"></i>
  				<input type="text" placeholder="Cari Makanan">
  		</label> -->
  		<h3 style="color:orange;text-align:center;margin-bottom:1px;">MANGAN</h3>
  		<p style="text-align:center;font-style:italic;">Your tummy partner</p>
  		<hr style="border-top:1px solid #00b3b3">
	</div>

	<h4 style="text-align: center;">Kategori</h4>
	<div class="row">
		<div class="col col-50">
			<a href="#/menu/maincourse">
				<img ng-src="img/rice.jpg" width="100%" />
			</a>
			<h5 style="text-align: center;">Main Course</h5>
		</div>

		<div class="col col-50">
			<a href="#/menu/soup">
				<img ng-src="img/soup.jpg" width="100%" />
			</a>
			<h5 style="text-align: center;">Soup</h5>
		</div>
	</div>

	<div class="row">
		<div class="col col-50">
			<a href="#/menu/meat">
				<img ng-src="img/meat.jpg" width="100%" />
			</a>
			<h5 style="text-align: center;">Meat</h5>
		</div>

		<div class="col col-50">
			<a href="#/menu/dessert">
				<img ng-src="img/dessert2.jpg" width="100%" />
			</a>
			<h5 style="text-align: center;">Dessert</h5>
		</div>
	</div>
  </ion-content>
</ion-view>
